body {
    transition: all 0.5s ease;
    background-image: url(../img/site-bg.jpg);
    --upper-bg-height: 650px;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: var(--upper-bg-height);
    background-position: center;
    background-size: auto 100%;
    background-image: url(../img/upper-bg.jpg);
}


/*--------------
# Side Bar
--------------*/
@keyframes slideUp {
    0% {
        -webkit-transform: translate3d(0, 500%, 0);
        transform: translate3d(0, 1000%, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
.side {
    text-align: left;
    height: 100%;
    padding: 0px;
    position: sticky;
    top: 0px;
    opacity: 1;
}
@media screen and (min-width: 999px) {
    .side {
        animation-name: slideUp;
        animation-duration: 3s;
        animation-delay: -2s;
    }
}
.side-content {
    font-size: 16px;
}
.side-card {
    padding: var(--round-conners) 15px;
    margin-bottom: 25px;
    transition: var(--transition);
    font-family: var(--font-four);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
.side-card h1,
.side-card h2,
.side-card h3,
.side-card h4,
.side-card h5,
.side-card h6,
.widgettitle,
.widget-title {
    padding: 5px 5px 5px 10px;
    font-weight: 700;
    font-size: 1.17em;
    font-family: var(--font-two);
    border-left: 5px solid var(--theme-clr);
}
.side-card ul {
	padding: 0;
    list-style-type: none;
    font-family: var(--font-four);
}
.side-card li {
	padding: 15px 4px 10px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    word-spacing: 1.8px;
    letter-spacing: 0.6px;
    color: var(--body-txt-clr);
    transition: var(--transition);
    border-bottom: 1px solid var(--body-txt-clr);
}
.side-card li:hover {
    text-decoration: underline;
    color: var(--tertiary-clr);
}
.side-card li:last-child {
    border: none;
}
.side-card li a,
.side-card .no-comments {
	text-decoration: none;
    color: var(--body-txt-clr);
    font-family: inherit;
    word-spacing: 0.15rem;
}
.side-card .no-comments {
    padding: 15px;
    text-align: center;
}

/*-----------
# Widgets
-----------*/
/* for when no widget is added */
.no-widget {
    width: 100%;
    padding: 25px;
    display: block;
}
.no-widget p {
    vertical-align: middle;
    font-size: 14.5px;
    font-weight: 600;
    line-height: 20px;
}